
header{
    background-color: antiquewhite;
}
.navber-primary{
   background-color: rgb(242, 249, 255);
   padding: 15px 50px;
   border-radius: 5px;
 margin: 50px;
 font-size: 1.3rem;
 /* padding-left: 100px; */
 border: none;
 outline: none;
 
}
/*sheard color*/
.title-container{
    font-size: 4rem;
}

.btn-primary1{
    padding: 15px 20px;
    background-color: #E55473;
    color: white;
    font-weight: 700;
    border: none;
    margin-left: -55px;
    font-size: 1.3rem;
}
.btn-primary{
    color: white;
    background-color:#E55473;
    padding: 15px 70px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    /* margin-right: -50px; */
    font-weight: 700;
    margin-top: 30px;
}
/*sheard end*/
.header-tital{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
   
    padding: 0px 0px 0px 200px;
    
}
.head-description{
    color: #757474;
    font-size: 20px;
    
   margin: auto;
   margin-top: -30px;
}

.title-container{
   font-size: 4rem;
  
}

.flower{
    padding-right: 60px;
   
}

/* main start*/
.section-featured{
    max-width: 1300px;
    margin: auto;
}
.head-discrip{
    color: #474747;
    margin-top: -35px;
}
.Featured-container{
 display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.Featured-title{
    font-size: 3.8rem; 
   text-align: center;
}
.long-description{
 max-width: 520px;
    margin-top: -10px;
   text-align: center;
}
.flower-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding-top: 24px;
   background-color: #fffefe
 ;
   
}
.img-fast{
    background-color: rgb(160, 255, 255);
    border-radius: 1000px 1000px 0px 0px;
    padding: 90px 30px 0 40px;
}
.img-fast:hover{
    background-color: rgb(0, 255, 170);
    padding: 120px 50px 0 40px;
}
h4 a{
    font-size: 1.5rem;
    text-decoration: none;
}
.img-secend{
    background-color: #ffe7ec;
    border-radius: 1000px 1000px 0px 0px;
    padding: 90px 30px 0 40px;
}
.img-secend:hover{
    background-color: rgb(255, 108, 230);
    padding: 120px 50px 0 40px;}
.img-three{
    background-color: rgb(233, 255, 31);
    padding: 90px 30px 0 40px;
    border-radius: 1000px 1000px 0px 0px;
}
.img-three:hover{
    background-color: rgb(168, 255, 27);
    padding: 120px 50px 0 40px;}

.img-head1, .img-head2, .img-head3{
    
   text-align: center;
 }
 .inistragram{
   max-width: 520px;
   /* text-align: center;
   justify-content: center; */
  color: #757474;
  margin: auto;
  font-size: 1.4rem;
  /* display: block; */
  margin-top: -35px;
 }
/*section-icon*/
.icon-fast{
   display: flex;
   justify-content: space-around;
  padding: 40px;
 
   background-color: rgb(99, 193, 255);
   border-radius: 10px;
}
.icon-title{
text-align: center;

}
 .head-same{
    color: #858181;
    font-size: 1.2rem;
 }  
/*section deal*/
.section-deal{
    background-color: #ffe7ec;
    padding: 30px;
    margin-top: 30px;
}
.section-contract{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 40px;
    
}
.section-title{
   max-width: 540px;
   margin: 0 auto;
}
span{
    color: rgb(224, 44, 104);
}
.section-picture{
    padding-right: 300px;
}
.instragram-container{
    text-align: center;
    margin-top: 80px;
    
}
.section-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 50px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.section{
  background-image: url(img/Rectangle\ 9.png);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: 80%;
  margin-top: 90px;
  padding: 30px;
}
.last-div{
    padding: 20px;
}
.last-divition{
  
}
.last-input{
    background-color: white;
    padding: 15px 150px;
    border-radius: 5px;
    
}
.footer-last{
    background-color: black;
    padding: 30px;
    text-align: center;
    margin-top: 50px;
}
.footer-head{
    color: white;
}
.btn-primary:hover, .btn-primary1:hover{
    background-color: blue;
    color: white;
    font-weight: 700;
    transition: all ease-in-out 0.5s;
    padding: 15px 90px;
}
.footer-title{
    font-size: 24px;
}

/*media quere*/
@media screen and (max-width: 576px) {
    .header-tital,  .icon-fast, .section-contract, .section-img{
        flex-direction: column;
    }
    .img-head1, .img-head2, .img-head3, 
    .footer-last, .Featured-title, . .flower
    {
        width: 100%;
    }
    .header-tital{
        padding: 0px 0px 0px 0px;
    }
    .head-description{
        font-size: 12px;
    }
    .footer-last{
       padding: 10px;
    }
   
   
    .header-container{
       margin: 24px;
       
    }
    .navber-primary{
        width: 70%;
    }
    .flower{
       
        width: 300px;
    }
    .flower-main{
        grid-template-columns: repeat(1, 1fr);
    }
    .title-container{
        font-size: 2rem;
        padding: 0px;
    }
    .last-input{
        padding: 9px 40px;
    }
    .section-picture{
        padding: 0;
    }
    .btn-primary{
        margin: 0;
        padding: 9px 20px;
        margin-top: 12px;
    }
    .btn-primary1{
        margin-left: 130px;
    }
  .navber-primary
    .Featured-title {
        font-size: 40px;
       
    }
    .head-discrip{
        font-size: 15px;
        padding-bottom: 20px;
    }
    .last-input {
        padding: 5px 15px;
    }
    .btn-primary{
        padding: 5px 12px;
    }
    .head-same{
        font-size: 10px;
    }
    .section{
     background-image: url(img/Rectangle\ 9.png);
     background-size: 100%;
     background-position: 100%, 800px;
     background-size: cover;
    }
}
/* tablet media*/
@media screen and (min-width: 576px) and (max-width: 990px) {
    .header-tital, .flower-main, .icon-fast, .section-img{
        flex-direction: column;    
}
.header-tital{
    padding: 0px 0px 0px 0px;
}
.img-head1, .img-head2, .img-head3, .section{
    width: 100%;
}
.section-picture{
    padding-left:  70px;
}

}
.last-input{
 padding: 9px 30px;
}
.btn-primary{
    padding: 9px 20px;
}
.main-input{
    /* margin-top: -30px; */
}
